---
layout: default
mathjax: true
---


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>
    <link rel="icon" href="/Figures/icon.png" type="image/x-icon">
    <!-- Bootstrap -->
    <link href= "/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/aos.css" rel="stylesheet">
    <!-- main style -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status">

            <div class="preloader" aria-busy="true" aria-label="Loading, please wait." role="progressbar">
            </div>

        </div>
    </div>
    <!-- ./Preloader -->

    <!-- header -->
    <header class="navbar-fixed-top">
        <nav>
            <ul>
                |
                <li><a href="/">Home</a></li>
                |
            </ul>
            <ul style="text-align: left; list-style-type: none;">
              <li><a href="https://twitter.com/theCamusean"><i class="ion-social-twitter"></i></a></li>
              <li><a href="https://github.com/TheCamusean"><i class="ion-social-github" ></i></a></li>
            </ul>
        </nav>
    </header>

    <!-- ./header -->

    <div class="section" id="post_home" data-stellar-background-ratio="0.5"
    style="background: url(/Figures/{{page.img}});
    background-size: auto;
    height: 100vh;">
        <div class="container">
            <div class="disply-table">
                <div class="table-cell" data-aos="fade-up" data-aos-delay="0" background = "../Figures/main.jpg">
                    <h1><span class='W'>{{page.title}}</span></h1>
                    <h2> <a href="https://arxiv.org/abs/1905.11786" target='blank'><i class="ion-document-text"></i></a> <a href="https://github.com/loeweX/Greedy_InfoMax" target='blank'><i class="ion-social-github"></i></a> </h2></div>
            </div>
        </div>
    </div>




    {% include mathjax.html %}
      <div class="section" id="post" >
        <div class="container">
            <!-- <div class="center"> -->
             <div class="col-md-8 col-md-offset-2">
                <div class="h-50"></div>
              <!-- <p align="center"> -->
                   {{ content }}
              <!-- </p> -->
            </div>
          </div>
       </div>

      <div class="section" id="post" >
        <div class="container">
          <div class="col-md-8 col-md-offset-2">
            <div class="h-50"></div>
            <div id="disqus_thread"></div>
              <script>
              /**
              *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
              *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
              /*
              var disqus_config = function () {
              this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              };
              */
              (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://https-thecamusean-github-io.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
              })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          </div>
        </div>
      </div>




    <script async src="https://static.addtoany.com/menu/page.js"></script>

    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: { equationNumbers: { autoNumber: "AMS" } }
    });
    </script>
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!--  plugins  -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>

    <!--  main script  -->
    <script src="/js/custom.js"></script>
</body>
