---
layout: default
---


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>
    <!-- <link rel="icon" href="Figures/icon.png" type="image/x-icon"> -->
    <!-- Bootstrap -->
    <link href="{{ 'css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
    <link href="{{ 'ionicons/css/ionicons.min.css' | relative_url }}" rel="stylesheet">
    <link href="{{ 'css/animate.min.css' | relative_url }}" rel="stylesheet">
    <link href="{{ 'css/aos.css' | relative_url }}" rel="stylesheet">
    <!-- main style -->
    <link href="{{ 'css/style.css' | relative_url }}" rel="stylesheet">
</head>

<body>

    <!-- Preloader -->
    <!-- <div id="preloader">
        <div id="status">

            <div class="preloader" aria-busy="true" aria-label="Loading, please wait." role="progressbar">
            </div>

        </div>
    </div> -->
    <!-- ./Preloader -->

    <!-- header -->
    <header class="navbar-fixed-top">
        <nav>
            <ul>
                |
                <li><a href="https://thecamusean.github.io/">Home</a></li>
                |
            </ul>
        </nav>
    </header>
    <!-- ./header -->

    <!-- home -->
    <div class="section" id="home" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="disply-table">
                <div class="table-cell" data-aos="fade-up" data-aos-delay="0">
                    <h1><span class='W'>Julen Urain</span></h1>
                    <h4>PhD candidate Robot Learning</h4></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./home -->

    <div class="section" id="contact">
      {{content}}
    </div>


</body>
